[Unit]
Description= Config Manager Service


[Service]
User=root
WorkingDirectory=/opt/MultiprotocolGateway
ExecStart=/usr/bin/python3  /opt/MultiprotocolGateway/ConfigManagerServer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
