[Unit]
Description=MODBUS TCP Client Service
After=Mqtt_Manager.service
After=Config_Manager.service
Requires=Config_Manager.service
Requires=Mqtt_Manager.service

[Service]
User=root
WorkingDirectory=/opt/MultiprotocolGateway
ExecStart=/usr/bin/python3 /opt/MultiprotocolGateway/modbus_client.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
