[Unit]
Description= MQTT Manager Service
After=Config_Manager.service
Requires=Config_Manager.service

[Service]
User=root
WorkingDirectory=/opt/MultiprotocolGateway
ExecStart=/usr/bin/python3  /opt/MultiprotocolGateway/MQTT_Server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
